{% extends 'correiocristao/base.html' %}

{% block title %}Sobre | Correio Cristão{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" align="center">Quem somos ?</h1>
            <br/>
            <p>O Portal cristão Correio Cristão nasceu em janeiro de 2019, com o objetivo de informar aos interessados,
                tudo o que acontece no universo evangélico, independentemente da denominação.
                Somos um portal 100% cristão, mas cada colaborador faz parte de uma denominação diferente. Isso nos
                ajuda a
                manter a imparcialidade e oferecer informações precisas, objetivas e com credibilidade.
                Somos um site independente e interdenominacional. Não somos patrocinados por nenhuma Igreja ou
                instituição
                religiosa. Oferecemos, porém, espaço publicitário a elas, pois precisamos manter nossos custos e
                estruturas.</p>
        </div>
    </div>

{% endblock %}