{% extends 'correiocristao/base.html' %}

{% block title %}Comercial | Correio Cristão{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" align="center">Comercial</h1>
            <br/>
            <p align="justify">O Correio Cristão é um portal que apresenta a seus usuários conteúdo atual e relevante para o meio
            evangélico.
            Somos guiados pela responsabilidade de apresentar aos nossos leitores a perspectiva fiel das notícias
            cristãs e
            sem a
            influência da grande mídia.
            Sendo assim, se você e/ou sua empresa procuram a oportunidade de divulgação no universo cristão, achou o lugar
            certo! Entre em contato pelo <b>correiocristaopb@gmail.com</b>
                e teremos o prazer em lhe responder.</p>
        </div>
    </div>

{% endblock %}