{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="HeroDev">
    {% block meta %}
    {% endblock %}
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}{% endblock %}</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CLato:300,400" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/owl.carousel.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/owl.theme.default.css' %}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/font-awesome.min.css' %}">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}"/>

    {% block css %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		  <script src="{% static 'bootstrap/js/html5shiv.min.js' %}"></script>
		  <script src="{% static 'bootstrap/js/respond.min.js' %}"></script>
		<![endif]-->

</head>
<body>

{% block header %}
    <!-- Header -->
    <header id="header">
        <!-- Top Header -->
        <div id="top-header">
            <div class="container">
                <div class="header-links">
                    <ul>
                        <li><a href="{% url 'about' %}">Sobre nós</a></li>
                        <li><a href="{% url 'contact' %}">Contato</a></li>
                        <li><a href="{% url 'comercial' %}">Comercial</a></li>
                        <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'post_new' %}"><i class="fa fa-plus"></i>Nova publicação</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin:index' %}"><i class="fa fa-television"></i>Painel</a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Log out</a>
                                </li>
                                <li>
                                    <a>Bem-vindo: {{ user.username }}</a>
                                    {% else %}
                                </li>
                                <li><a href="{% url 'entrar' %}"><i class="fa fa-sign-in"></i> Login</a></li>
                                </ul>
                            {% endif %}
                    </ul>
                </div>
                <div class="header-social">
                    <ul>
                        <li><a href="http://facebook.com/correiocristaopb"><i class="fa fa-facebook"></i></a></li>
                        <!--<li><a href="http://twitter.com"><i class="fa fa-twitter"></i></a></li>-->
                        <li><a href="http://instagram.com/correiocristaopb"><i class="fa fa-instagram"></i></a></li>
                        <!--<li><a href="http://youtube.com"><i class="fa fa-youtube"></i></a></li>-->
                        <li><a href="https://wa.me/5583996426003" class="whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Top Header -->

        <!-- Center Header -->
        <div id="center-header">
            <div class="container-fluid">
                <div class="header-logo">
                    <a href="{% url 'home' %}" class="logo"><img src="{% static 'logo.png' %}" alt="logo" style="max-width: 500px"></a>
                </div>
                <div class="header-ads">
                    {% for a in apoiadores %}
                        {% if a.ordem == '01' %}
                            <img class="center-block" href="{{ a.site }}" src="{{ a.imagem.url }}" alt="{{ a.nome }}"
                                 style="width: 728px; height: 90px">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- /Center Header -->

        <!-- Nav Header -->
        <div id="nav-header">
            <div class="container">
                <nav id="main-nav">
                    <div class="nav-logo">
                        <a href="{% url 'home' %}" class="logo"><img src="{% static 'logo.png' %}" alt=""></a>
                    </div>
                    {% block mainnav %}
                        <ul class="main-nav nav navbar-nav">
                                {% if request.path_info == '/home/' or  request.path_info == '/' %}
                                    <li class="active">
                                {% else %}
                                    <li>
                                {% endif %}
                            <a href="{% url 'home' %}">Início</a></li>
                            {% for c in categories %}
                                {% if request.resolver_match.kwargs.slug == c.slug %}
                                    <li class="active">
                                {% else %}
                                    <li>
                                {% endif %}
                                <a href="{% url 'category_list' slug=c.slug %}">{{ c.nome }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endblock %}
                </nav>
                <div class="button-nav">
                    <button class="search-collapse-btn"><i class="fa fa-search"></i></button>
                    <button class="nav-collapse-btn"><i class="fa fa-bars"></i></button>
                    <div class="search-form">
                        <form method='GET' action="{% url 'search' %}">
                            <input class="input" type="text" name="search" id="search" placeholder="Buscar...">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Nav Header -->
    </header>
    <!-- /Header -->

{% endblock %}

{% block body %}
    {% block post %}
    {% endblock %}
{% endblock %}
<br/>
{% block footer %}

    <!-- FOOTER -->
    <footer id="footer">
        <!-- Top Footer -->
        <div id="top-footer" class="section">
            <!-- CONTAINER -->
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col-md-4">
                        <!-- footer about -->
                        <div class="footer-widget about-widget">
                            <div class="footer-logo">
                                <a href="{% url 'home' %}" class="logo"><img src="{% static 'logo-white.png' %}" alt=""></a>
                                <p>O Correio Cristão é um site a serviço do evangelho com o objetivo de divulgar os
                                    interreses
                                    do povo de Deus, independente de denominações.</p>
                            </div>
                        </div>
                        <!-- /footer about -->

                        <!-- footer social -->
                        <div class="footer-widget social-widget">
                            <div class="widget-title">
                                <h3 class="title">Continue conectado</h3>
                            </div>
                            <ul>
                                <li><a href="http://facebook.com/correiocristaopb" class="facebook"><i
                                        class="fa fa-facebook"></i></a></li>
                                <!--<li><a href="http://twitter.com" class="twitter"><i class="fa fa-twitter"></i></a></li>-->
                                <li><a href="http://instagram.com/correiocristaopb" class="instagram"><i
                                        class="fa fa-instagram"></i></a></li>
                                <!--<li><a href="http://youtube.com" class="youtube"><i class="fa fa-youtube"></i></a></li>-->
                                <li><a href="https://wa.me/5583996426003" class="whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                                <!--<li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>-->
                            </ul>
                        </div>
                        <!-- /footer social -->

                    </div>
                    <!-- /Column 1 -->

                    <!-- Column 2 -->
                    <div class="col-md-4">
                        <!-- footer article -->
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h2 class="title">Notícias em destaque</h2>
                            </div>

                            <!-- DESTAQUE -->
                            <article class="article widget-article">
                                {% include 'correiocristao/destaque_footer.html' %}
                            </article>
                            <!-- /DESTAQUE-->

                        </div>
                        <!-- /footer article -->
                    </div>
                    <!-- /Column 2 -->

                    <!-- Column 3 -->
                    <div class="col-md-4">
                        <!-- footer tweets -->
                        <div class="footer-widget tweets-widget">
                            <div class="widget-title">
                                <h2 class="title">Tweets Recentes</h2>
                            </div>
                            <ul>
                                <li class="tweet">
                                    <i class="fa fa-twitter"></i>
                                    <div class="tweet-body">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /footer tweets -->
                    </div>
                    <!-- /Column 3 -->
                </div>
                <!-- /ROW -->
            </div>
            <!-- /CONTAINER -->
        </div>
        <!-- /Top Footer -->

        <!-- Bottom Footer -->
        <div id="bottom-footer" class="section">
            <!-- CONTAINER -->
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <!-- footer links -->
                    <div class="col-md-6 col-md-push-6">
                        <ul class="footer-links">
                            <li><a href="{% url 'about' %}">Sobre nós</a></li>
                            <li><a href="{% url 'contact' %}">Contato</a></li>
                            <li><a href="{% url 'comercial' %}">Comercial</a></li>
                            <li><a href="{% url 'privacidade' %}">Privacidade</a></li>
                        </ul>
                    </div>
                    <!-- /footer links -->

                    <!-- footer copyright -->
                    <div class="col-md-6 col-md-pull-6">
                        <div class="footer-copyright">
                            <span>Copyright &copy;{% now "Y" %}; Correio Cristão. All rights reserved.</span>
                        </div>
                    </div>
                    <!-- /footer copyright -->
                    <div class="" align="center">
                        <span><a href="https://wa.me/5583998104946">HeroDev | Design e Comunicação</a></span>
                    </div>
                </div>
                <!-- /ROW -->
            </div>
            <!-- /CONTAINER -->
        </div>
        <!-- /Bottom Footer -->
    </footer>
    <!-- /FOOTER -->

    <!-- Back to top -->
    <div id="back-to-top"></div>
    <!-- Back to top -->

{% endblock %}

<!-- jQuery Plugins -->
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'bootstrap/js/main.js' %}"></script>

{% block jquery %}
{% endblock %}

</body>
</html>
