{% extends 'correiocristao/base.html' %}
{% load static %}
{% load el_pagination_tags %}
{% block title %}{{ request.resolver_match.kwargs.slug|title }} | Correio Cristão {% endblock %}

{% block body %}
    <br/>

    {% if request.resolver_match.kwargs.slug == 'noticias' %}
        {% paginate noticias %}
        {% for p in noticias %}
            <main role="main" class="container">
                <div class="jumbotron">
                    <article class="article thumb-article">
                        <div class="article-img">
                            <img src="{{ p.imagem.url }}" alt="image-{{ p.titulo }}" style="height: 500px">
                        </div>
                        <ul class="article-meta">
                            <div class="col">
                                <li><i class="fa fa-book"></i> {{ p.categoria }}</li>
                                <li><i class="fa fa-user-circle"></i> {{ p.autor }}</li>
                                <li><i class="fa fa-clock-o">{{ p.data_publicacao|date:"d/m/Y" }}</i></li>
                            </div>
                            <h2>{{ p.titulo }}</h2>
                        </ul>
                        <p class="lead">{{ p.resumo }}</p>
                        <div class="text-right">
                            <ul class="article-info">
                                <li class="article-category"><a href="{% url 'post_detail' slug=p.categoria.slug pk=p.pk %}" role="button">Mais
                                    &raquo;</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </main>
        {% endfor %}
        {% get_pages %}
        <!-- pagination-->
        <div class="container" align="center">
            <div class="article-pagination">
                <ul>
                    {% if pages.previous %}
                        <li><a href="?page={{ pages.previous.number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><a class="disabled">&laquo;</a></li>
                    {% endif %}
                    {% for page in pages %}
                        {% if page.is_current %}
                            <li class="active"><a class="active">{{ page.number }} <span
                                    class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a class="disabled" href="?page={{ page.number }}">{{ page.number }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pages.next %}
                        <li><a class="active" href="?page={{ pages.next.number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><a class="disabled">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- end pagination-->

    {% elif request.resolver_match.kwargs.slug == 'devocional' %}
        {% paginate devocional %}
        {% for p in devocional %}
            <main role="main" class="container">
                <div class="jumbotron">
                    <article class="article thumb-article">
                        <div class="article-img">
                            <img src="{{ p.imagem.url }}" alt="image-{{ p.titulo }}" style="height: 500px">
                        </div>
                        <ul class="article-meta">
                            <div class="col">
                                <li><i class="fa fa-book"></i> {{ p.categoria }}</li>
                                <li><i class="fa fa-user-circle"></i> {{ p.autor }}</li>
                                <li><i class="fa fa-clock-o">{{ p.data_publicacao|date:"d/m/Y" }}</i></li>
                            </div>
                            <h2>{{ p.titulo }}</h2>
                        </ul>
                        <p class="lead">{{ p.resumo }}</p>
                        <div class="text-right">
                            <ul class="article-info">
                                <li class="article-category"><a href="{% url 'post_detail' slug=p.categoria.slug pk=p.pk %}" role="button">Mais
                                    &raquo;</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </main>
        {% endfor %}
        {% get_pages %}
        <!-- pagination-->
        <div class="container" align="center">
            <div class="article-pagination">
                <ul>
                    {% if pages.previous %}
                        <li><a href="?page={{ pages.previous.number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><a class="disabled">&laquo;</a></li>
                    {% endif %}
                    {% for page in pages %}
                        {% if page.is_current %}
                            <li class="active"><a class="active">{{ page.number }} <span
                                    class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a class="disabled" href="?page={{ page.number }}">{{ page.number }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pages.next %}
                        <li><a class="active" href="?page={{ pages.next.number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><a class="disabled">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- end pagination-->

    {% elif request.resolver_match.kwargs.slug == 'igrejanahistoria' %}
        {% paginate igrejanahistoria %}
        {% for p in igrejanahistoria %}
            <main role="main" class="container">
                <div class="jumbotron">
                    <article class="article thumb-article">
                        <div class="article-img">
                            <img src="{{ p.imagem.url }}" alt="image-{{ p.titulo }}" style="height: 500px">
                        </div>
                        <ul class="article-meta">
                            <div class="col">
                                <li><i class="fa fa-book"></i> {{ p.categoria }}</li>
                                <li><i class="fa fa-user-circle"></i> {{ p.autor }}</li>
                                <li><i class="fa fa-clock-o">{{ p.data_publicacao|date:"d/m/Y" }}</i></li>
                            </div>
                            <h2>{{ p.titulo }}</h2>
                        </ul>
                        <p class="lead">{{ p.resumo }}</p>
                        <div class="text-right">
                            <ul class="article-info">
                                <li class="article-category"><a href="{% url 'post_detail' slug=p.categoria.slug pk=p.pk %}" role="button">Mais
                                    &raquo;</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </main>
        {% endfor %}
        {% get_pages %}
        <!-- pagination-->
        <div class="container" align="center">
            <div class="article-pagination">
                <ul>
                    {% if pages.previous %}
                        <li><a href="?page={{ pages.previous.number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><a class="disabled">&laquo;</a></li>
                    {% endif %}
                    {% for page in pages %}
                        {% if page.is_current %}
                            <li class="active"><a class="active">{{ page.number }} <span
                                    class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a class="disabled" href="?page={{ page.number }}">{{ page.number }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pages.next %}
                        <li><a class="active" href="?page={{ pages.next.number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><a class="disabled">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- end pagination-->

    {% elif request.resolver_match.kwargs.slug == 'entretenimento' %}
        {% paginate entretenimento %}
        {% for p in entretenimento %}
            <main role="main" class="container">
                <div class="jumbotron">
                    <article class="article thumb-article">
                        <div class="article-img">
                            <img src="{{ p.imagem.url }}" alt="image-{{ p.titulo }}" style="height: 500px">
                        </div>
                        <ul class="article-meta">
                            <div class="col">
                                <li><i class="fa fa-book"></i> {{ p.categoria }}</li>
                                <li><i class="fa fa-user-circle"></i> {{ p.autor }}</li>
                                <li><i class="fa fa-clock-o">{{ p.data_publicacao|date:"d/m/Y" }}</i></li>
                            </div>
                            <h2>{{ p.titulo }}</h2>
                        </ul>
                        <p class="lead">{{ p.resumo }}</p>
                        <div class="text-right">
                            <ul class="article-info">
                                <li class="article-category"><a href="{% url 'post_detail' slug=p.categoria.slug pk=p.pk %}" role="button">Mais
                                    &raquo;</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </main>
        {% endfor %}
        {% get_pages %}
        <!-- pagination-->
        <div class="container" align="center">
            <div class="article-pagination">
                <ul>
                    {% if pages.previous %}
                        <li><a href="?page={{ pages.previous.number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><a class="disabled">&laquo;</a></li>
                    {% endif %}
                    {% for page in pages %}
                        {% if page.is_current %}
                            <li class="active"><a class="active">{{ page.number }} <span
                                    class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a class="disabled" href="?page={{ page.number }}">{{ page.number }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pages.next %}
                        <li><a class="active" href="?page={{ pages.next.number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><a class="disabled">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- end pagination-->

    {% elif request.resolver_match.kwargs.slug == 'mundocristao' %}
        {% paginate mundocristao %}
        {% for p in mundocristao %}
            <main role="main" class="container">
                <div class="jumbotron">
                    <article class="article thumb-article">
                        <div class="article-img">
                            <img src="{{ p.imagem.url }}" alt="image-{{ p.titulo }}" style="height: 500px">
                        </div>
                        <ul class="article-meta">
                            <div class="col">
                                <li><i class="fa fa-book"></i> {{ p.categoria }}</li>
                                <li><i class="fa fa-user-circle"></i> {{ p.autor }}</li>
                                <li><i class="fa fa-clock-o">{{ p.data_publicacao|date:"d/m/Y" }}</i></li>
                            </div>
                            <h2>{{ p.titulo }}</h2>
                        </ul>
                        <p class="lead">{{ p.resumo }}</p>
                        <div class="text-right">
                            <ul class="article-info">
                                <li class="article-category"><a href="{% url 'post_detail' slug=p.categoria.slug pk=p.pk %}" role="button">Mais
                                    &raquo;</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </main>
        {% endfor %}
        {% get_pages %}
        <!-- pagination-->
        <div class="container" align="center">
            <div class="article-pagination">
                <ul>
                    {% if pages.previous %}
                        <li><a href="?page={{ pages.previous.number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><a class="disabled">&laquo;</a></li>
                    {% endif %}
                    {% for page in pages %}
                        {% if page.is_current %}
                            <li class="active"><a class="active">{{ page.number }} <span
                                    class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a class="disabled" href="?page={{ page.number }}">{{ page.number }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pages.next %}
                        <li><a class="active" href="?page={{ pages.next.number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><a class="disabled">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- end pagination-->

    {% elif request.resolver_match.kwargs.slug == 'sociedade' %}
        {% paginate sociedade %}
        {% for p in sociedade %}
            <main role="main" class="container">
                <div class="jumbotron">
                    <article class="article thumb-article">
                        <div class="article-img">
                            <img src="{{ p.imagem.url }}" alt="image-{{ p.titulo }}" style="height: 500px">
                        </div>
                        <ul class="article-meta">
                            <div class="col">
                                <li><i class="fa fa-book"></i> {{ p.categoria }}</li>
                                <li><i class="fa fa-user-circle"></i> {{ p.autor }}</li>
                                <li><i class="fa fa-clock-o">{{ p.data_publicacao|date:"d/m/Y" }}</i></li>
                            </div>
                            <h2>{{ p.titulo }}</h2>
                        </ul>
                        <p class="lead">{{ p.resumo }}</p>
                        <div class="text-right">
                            <ul class="article-info">
                                <li class="article-category"><a href="{% url 'post_detail' slug=p.categoria.slug pk=p.pk %}" role="button">Mais
                                    &raquo;</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </main>
        {% endfor %}
        {% get_pages %}
        <!-- pagination-->
        <div class="container" align="center">
            <div class="article-pagination">
                <ul>
                    {% if pages.previous %}
                        <li><a href="?page={{ pages.previous.number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><a class="disabled">&laquo;</a></li>
                    {% endif %}
                    {% for page in pages %}
                        {% if page.is_current %}
                            <li class="active"><a class="active">{{ page.number }} <span
                                    class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a class="disabled" href="?page={{ page.number }}">{{ page.number }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pages.next %}
                        <li><a class="active" href="?page={{ pages.next.number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><a class="disabled">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- end pagination-->

    {% elif request.resolver_match.kwargs.slug == 'opiniao' %}
        {% paginate opiniao %}
        {% for p in opiniao %}
            <main role="main" class="container">
                <div class="jumbotron">
                    <article class="article thumb-article">
                        <div class="article-img">
                            <img src="{{ p.imagem.url }}" alt="image-{{ p.titulo }}" style="height: 500px">
                        </div>
                        <ul class="article-meta">
                            <div class="col">
                                <li><i class="fa fa-book"></i> {{ p.categoria }}</li>
                                <li><i class="fa fa-user-circle"></i> {{ p.autor }}</li>
                                <li><i class="fa fa-clock-o">{{ p.data_publicacao|date:"d/m/Y" }}</i></li>
                            </div>
                            <h2>{{ p.titulo }}</h2>
                        </ul>
                        <p class="lead">{{ p.resumo }}</p>
                        <div class="text-right">
                            <ul class="article-info">
                                <li class="article-category"><a href="{% url 'post_detail' slug=p.categoria.slug pk=p.pk %}" role="button">Mais
                                    &raquo;</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </main>
        {% endfor %}
        {% get_pages %}
        <!-- pagination-->
        <div class="container" align="center">
            <div class="article-pagination">
                <ul>
                    {% if pages.previous %}
                        <li><a href="?page={{ pages.previous.number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><a class="disabled">&laquo;</a></li>
                    {% endif %}
                    {% for page in pages %}
                        {% if page.is_current %}
                            <li class="active"><a class="active">{{ page.number }} <span
                                    class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a class="disabled" href="?page={{ page.number }}">{{ page.number }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pages.next %}
                        <li><a class="active" href="?page={{ pages.next.number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><a class="disabled">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- end pagination-->}
    {% endif %}
{% endblock %}