{% extends 'correiocristao/base.html' %}
{% load static %}

{% block title %} Correio Cristão | O seu informativo gospel no sertão {% endblock %}

{% block css %}
{% endblock %}

{% block body %}
    <!-- DESTAQUE -->
    <div id="owl-carousel-1" class="owl-carousel owl-theme center-owl-nav">
        {% for p in featured_posts|slice:":4" %}
            {% if p.destaque == True %}
                {% if forloop.first %}
                    <div class="item active" id="slide">
                {% else %}
                    <div class="item">
                {% endif %}
            <article class="article thumb-article">
                <div class="article-img">
                    <img src="{{ p.imagem.url }}" alt="image-{{ p.titulo }}" style="height: 600px;">
                </div>
                <div class="article-body">
                    <ul class="article-info">
                        <li class="article-category"><a
                                href="{% url 'category_list' slug=p.categoria.slug %}">{{ p.categoria }}</a></li>
                    </ul>
                    <h2 class="article-title"><a
                            href="{% url 'post_detail' slug=p.categoria.slug pk=p.pk %}">{{ p.titulo }}</a></h2>
                    <ul class="article-meta">
                        <li><i class="fa fa-clock-o"></i> {{ p.data_publicacao|date:"d/m/Y" }}</li>
                    </ul>
                </div>
            </article>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        <!-- /DESTAQUE -->

        <!-- NOTICIAS-MURAL -->
        <div class="section">
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <!-- Main Column -->
                    <div class="col-md-12">
                        <!-- section title -->
                        <div class="section-title">
                            <h2 class="title">Noticias</h2>
                        </div>
                        <!-- /section title -->

                        <!-- Tab content -->
                        <div class="tab-content">
                            <!-- tab1 -->
                            <div id="tab1" class="tab-pane fade in active">
                                <!-- row -->
                                <div class="row">
                                    {% for p in object_list|slice:":4" %}
                                        <!--Column-->
                                        <div class="col-md-3 col-sm-6">
                                            <!-- ARTICLE -->
                                            <article class="article">
                                                <div class="article-img">
                                                    <a href="{% url 'post_detail' slug=p.categoria.slug pk=p.pk %}">
                                                        <img src="{{ p.imagem.url }}" alt="image-{{ p.titulo }}"
                                                             style="height: 200px;">
                                                    </a>
                                                    <ul class="article-info">
                                                        <li class="article-type"><i class="fa fa-file-text"></i></li>
                                                        <li class="article-category"><a
                                                                href="{% url 'category_list' slug=p.categoria.slug %}">{{ p.categoria }}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="article-body">
                                                    <h4 class="article-title">
                                                        <a href="{% url 'post_detail' slug=p.categoria.slug pk=p.pk %}">{{ p.titulo }}</a>
                                                    </h4>
                                                    <ul class="article-meta">
                                                        <div class="row-article">
                                                            <div class="col">
                                                                <li>
                                                                    <i class="fa fa-clock-o"></i> {{ p.data_publicacao|date:"d/m/Y" }}
                                                                </li>
                                                            </div>
                                                        </div>
                                                    </ul>
                                                </div>
                                            </article>
                                            <!-- /ARTICLE -->
                                        </div>
                                        <!-- /Column-->
                                    {% endfor %}
                                </div>
                                {% include 'correiocristao/destaque_mural.html' %}
                                <!-- /tab1 -->
                            </div>
                            <!-- /tab content -->
                        </div>
                        <!-- /Main Column -->
                    </div>
                    <!-- /ROW -->
                </div>
            </div>
            <!-- /NOTICIAS-MURAL -->

            <!-- DEVOCIONAL-OPINIÃO-IGREJA-SAUDE -->
            <div class="section">
                <!-- CONTAINER -->
                <div class="container">
                    <!-- ROW -->
                    <div class="row">
                        <!-- Main Column -->
                        <div class="col-md-8">
                            <!-- row -->
                            <div class="row">
                                <!-- Column 1 -->
                                <div class="col-md-6 col-sm-6">
                                    <!-- section title -->
                                    <div class="section-title">
                                        <h2 class="title">Devocional</h2>
                                    </div>
                                    <!-- /section title -->
                                    <!-- DEVOCIONAL -->
                                    {% include 'correiocristao/index_devocional_list.html' %}
                                    <!-- /DEVOCIONAL -->
                                </div>
                                <!-- /Column 1 -->

                                <!-- Column 2 -->
                                <div class="col-md-6 col-sm-6">
                                    <!-- section title -->
                                    <div class="section-title">
                                        <h2 class="title">Opinião</h2>
                                    </div>
                                    <!-- /section title -->
                                    <!-- OPINIAO -->
                                    {% include 'correiocristao/index_opiniao_list.html' %}
                                    <!-- /OPINIAO -->
                                </div>
                                <!-- /Column 2 -->
                            </div>
                            <!-- /row -->

                            <!-- row -->
                            <div class="row">
                                <!-- Column 3 -->
                                <div class="col-md-6 col-sm-6">
                                    <!-- section title -->
                                    <div class="section-title">
                                        <h2 class="title">Saúde</h2>
                                    </div>
                                    <!-- /section title -->
                                    <!-- saude -->
                                    {% include 'correiocristao/index_saude_list.html' %}
                                    <!-- /saude -->
                                </div>
                                <!-- /Column 3 -->

                                <!-- Column 4 -->
                                <div class="col-md-6 col-sm-6">
                                    <!-- section title -->
                                    <div class="section-title">
                                        <h2 class="title">Igreja na História</h2>
                                    </div>
                                    <!-- /section title -->
                                    <!-- IGREJA NA HISTÓRIA -->
                                    {% include 'correiocristao/index_historia_list.html' %}
                                    <!-- /IGREJA NA HISTÓRIA -->
                                </div>
                                <!-- /Column 4 -->
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /Main Column -->

                        <!-- COLUNA LATERAL -->
                        <div class="col-md-4">
                            {% include 'correiocristao/aside.html' %}
                            <!-- EVENTOS -->
                            <div class="widget">
                                <div class="section-title">
                                    <h2 class="title">Entretenimento</h2>
                                </div>

                                <!-- owl carousel 2 -->
                                <div id="owl-carousel-3" class="owl-carousel owl-theme center-owl-nav">
                                    <!-- ARTICLE -->
                                    {% for p in object_list|slice:":5" %}
                                        {% if p.categoria.slug == "entretenimento" %}
                                            <article class="article">
                                                <div class="article-img">
                                                    <a href="{% url 'post_detail' slug=p.categoria.slug pk=p.pk %}">
                                                        <img src="{{ p.imagem.url }}" alt="imagem-{{ p.titulo }}"
                                                             style="height: 300px;">
                                                    </a>
                                                    <ul class="article-info">
                                                        <li class="article-type"><i class="fa fa-music"></i></li>
                                                        <li class="article-category"><a
                                                                href="{% url 'category_list' slug=p.categoria.slug %}">{{ p.categoria }}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="article-body">
                                                    <h4 class="article-title"><a
                                                            href="{% url 'post_detail' slug=p.categoria.slug pk=p.pk %}">{{ p.titulo }}</a>
                                                    </h4>
                                                    <ul class="article-meta">
                                                        <div class="col">
                                                            <li>
                                                                <i class="fa fa-clock-o"></i> {{ p.data_publicacao|date:"d/m/Y" }}
                                                            </li>
                                                        </div>
                                                    </ul>
                                                </div>
                                            </article>
                                        {% endif %}
                                    {% endfor %}
                                    <!-- /ARTICLE -->
                                </div>
                                <!-- /owl carousel 2 -->
                            </div>
                            <!-- /EVENTOS -->
                        </div>
                        <!-- /COLUNA LATERAL -->
                    </div>
                    <!-- /ROW -->
                </div>
                <!-- /CONTAINER -->
            </div>
            <!-- DEVOCIONAL-OPINIÃO-IGREJA-SAUDE -->

            <!-- AD SECTION -->
            <div class="index-publicidade">
                {% for a in apoiadores %}
                    {% if a.ordem == '03' %}
                        <img class="center-block" href="{{ a.site }}" src="{{ a.imagem.url }}" alt="{{ a.nome }}"
                             style="width: 500px; max-height: 100%; max-width: 100%; overflow: hidden;">
                    {% endif %}
                {% endfor %}
            </div>
            <!-- /AD SECTION -->

            <!-- VIDEOS -->
            <div class="section">
                <!-- CONTAINER -->
                <div class="container">
                    <!-- ROW -->
                    <div class="row">
                        <!-- Main Column -->
                        <div class="col-md-12">
                            <!-- section title -->
                            <div class="section-title">
                                <h2 class="title">Vídeos</h2>
                                <div id="nav-carousel-2" class="custom-owl-nav pull-right"></div>
                            </div>
                            <!-- /section title -->
                        </div>
                    </div>
                        <!-- /Main Column -->
                        <div class="container" align="center">
                            {% include 'correiocristao/index_videos.html' %}
                        </div>
                    <!-- /ROW -->
                </div>
                <!-- /CONTAINER -->
            </div>
            <!-- /VIDEOS -->

            <!-- COLUNISTAS/MUNDO CRISTAO -->
            <div class="section">
                <!-- CONTAINER -->
                <div class="container">
                    <!-- ROW -->
                    <div class="row">
                        {% include 'correiocristao/index_mundo_list.html' %}
                        <!-- Aside Column -->
                        <div class="col-md-4">
                            <!-- article widget -->
                            <div class="widget">
                                <div class="widget-title">
                                    <h2 class="title">Colunistas</h2>
                                </div>
                                <!-- owl carousel 4 -->
                                {% include 'correiocristao/colunistas.html' %}
                                <!-- /owl carousel 4 -->
                            </div>
                        </div>
                        <!-- /Aside Column -->
                    </div>
                    <!-- /ROW -->
                </div>
                <!-- /CONTAINER -->
            </div>
            <!-- /COLUNISTAS/MUNDOCRISTAO -->
{% endblock %}