{% extends 'correiocristao/base.html' %}
{% load static %}
{% load el_pagination_tags %}
{% load my_tags %}
{% block title %}Vídeos | Correio Cristão {% endblock %}

{% block body %}
    <br/>
    {% paginate video_list %}
    {% for v in video_list %}
        <main role="main" class="container">
            <div class="jumbotron">
                <article class="article thumb-article">
                    {% if v.imagem %}
                        <div class="article-img">
                            <img src="{{ v.imagem.url }}" alt="image-{{ v.nome }}" style="height: 500px">
                        </div>
                    {% else %}
                        <div class="article-img">
                            <img src="https://i.ytimg.com/vi/{{ v.link|videocut }}/maxresdefault.jpg" alt="image-{{ v.nome }}" style="height: 500px">
                        </div>
                    {% endif %}
                    <ul class="article-meta">
                        <div class="col">
                            <li><i class="fa fa-book"></i> {{ v.categoria }}</li>
                            <li><i class="fa fa-clock-o">{{ v.data_publicacao|date:"d/m/Y" }}</i></li>
                        </div>
                        <h2>{{ v.nome }}</h2>
                    </ul>
                    <div class="text-right">
                        <ul class="article-info">
                            <li class="article-category"><a href="{% url 'video_detail' pk=v.pk %}"
                                                            role="button">Mais
                                &raquo;</a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </main>
    {% endfor %}
    {% get_pages %}
    <!-- pagination-->
    <div class="container" align="center">
        <div class="article-pagination">
            <ul>
                {% if pages.previous %}
                    <li><a href="?page={{ pages.previous.number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a class="disabled">&laquo;</a></li>
                {% endif %}
                {% for page in pages %}
                    {% if page.is_current %}
                        <li class="active"><a class="active">{{ page.number }} <span
                                class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li><a class="disabled" href="?page={{ page.number }}">{{ page.number }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if pages.next %}
                    <li><a class="active" href="?page={{ pages.next.number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><a class="disabled">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- end pagination-->}
{% endblock %}